﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: Reusable layout component to a confirm a user action. Raises callbacks to tell if people pressed yes or no*@
<MatDialog @bind-IsOpen="@this.dialogOpen">
    <MatDialogTitle><MatIcon Icon="@(this.icon ?? "warning")"></MatIcon>&nbsp;&nbsp;&nbsp;@(this.dialogTitle ?? "Confirm")</MatDialogTitle>
    <MatDialogContent>
        <span>@(this.dialogText ?? "Are you sure you want to continue?")</span>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(() => this.handleCancel())" Style="float:left">No</MatButton>
        <MatButton OnClick="@(() => this.HandleOk())" Style="float:right">Yes</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter]
    public EventCallback OkCallback { get; set; }
    [Parameter]
    public EventCallback CancelCallback { get; set; }
    [Parameter]
    public EventCallback<object> CallBack { get; set; }
    [Parameter]
    public bool dialogOpen { get; set; }
    [Parameter]
    public string dialogTitle { get; set; }
    [Parameter]
    public string dialogText { get; set; }
    [Parameter]
    public string icon { get; set; }
    [Parameter]
    public object data { get; set; }

    private void HandleOk()
    {
        CallBack.InvokeAsync(data);
        OkCallback.InvokeAsync(null);
    }

    private void handleCancel()
    {
        CallBack.InvokeAsync(null);
        CancelCallback.InvokeAsync(null);
    }
}
