﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: Reusable layout component to a single text value. Raises callbacks to tell if people pressed ok or cancel*@
<MatDialog @bind-IsOpen="@this.dialogOpen">
    <MatDialogTitle Style="min-width:400px">
        <MatIcon Icon="@(this.icon ?? "info")"></MatIcon>&nbsp;&nbsp;&nbsp;@(this.dialogTitle ?? "Please input a value.")
    </MatDialogTitle>
    <MatDialogContent>
        <fieldset>
            <div class="form-group">
                <MatTextField @bind-value="@data.Email" Label="User email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
            </div>
            <MatDialogActions>
                <MatButton OnClick="@(() => this.handleCancel())" Style="float:left">Cancel</MatButton>
                <MatButton OnClick="@(() => this.HandleOk())" Style="float:right">Ok</MatButton>
            </MatDialogActions>
        </fieldset>
    </MatDialogContent>
</MatDialog>

@code {
    [Parameter]
    public EventCallback OkCallback { get; set; }
    [Parameter]
    public EventCallback CancelCallback { get; set; }
    [Parameter]
    public EventCallback<UserInviteParameters> CallBack { get; set; }
    [Parameter]
    public bool dialogOpen { get; set; }
    [Parameter]
    public string dialogTitle { get; set; }
    [Parameter]
    public string dialogText { get; set; }
    [Parameter]
    public string icon { get; set; }
    [Parameter]
    public UserInviteParameters data { get; set; }

    private void HandleOk()
    {
        CallBack.InvokeAsync(data);
        OkCallback.InvokeAsync(null);
    }

    private void handleCancel()
    {
        CallBack.InvokeAsync(null);
        CancelCallback.InvokeAsync(null);
    }
}
