﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page ... *@
@page "/organization/groupprofile"
@inject OrganizationDataState organizationDataState
@inject GroupDataState groupDataState


<h3>
    Edit group profile.
</h3>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        Short description.<br />
    </div>
    <!-- Content here: -->



    <MatCard style="min-width:400px; width: 50%; padding: 0 30px; margin : 10px;">
        <fieldset style="margin:20px;">
            <div class="form-group">
                <MatTextField @bind-value="@groupDataState.groupParamerters.Group.Title" Label="Current Title" ReadOnly="true" FullWidth="true" icon="lock" IconTrailing="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-value="@this.groupParamerters.Group.Title" Label="New Title" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-value="@this.groupParamerters.Group.Description" Label="Description" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group d-flex justify-content-end" style="margin-right:20px;">
                <MatButton OnClick="@SaveChanges" Raised="true">Save changes</MatButton>
                <MatButton OnClick="@ResetParameters" Raised="true">Reset</MatButton>
            </div>
            <hr />
        </fieldset>
    </MatCard>
    <!-- End of content -->
</div>



@code {
    GroupParameters groupParamerters { get; set; } = new GroupParameters();

    public void ResetParameters()
    {
        groupParamerters = groupDataState.groupParamerters;
        StateHasChanged();
    }

    async Task SaveChanges()
    {
        await groupDataState.UpdateGroupParameters(this.groupParamerters);
        this.groupParamerters = groupDataState.groupParamerters;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        organizationDataState.OnChange += StateHasChanged;
        groupDataState.OnChange += StateHasChanged;
        this.groupParamerters = groupDataState.groupParamerters;
        StateHasChanged();
    }
}