﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page ... *@
@page "/organization/groupentities"
@inject OrganizationDataState organizationDataState
@inject GroupDataState groupDataState

<h3>
    GroupEntities.
</h3>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        Short description.<br />
    </div>
    <!-- Content here: -->
    <!-- End of content -->
</div>

@code {

}
