﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page ... *@
@page "/organization/organizationprofile"
@inject OrganizationDataState organizationDataState
@inject UserDataState userDataState
@inject IMatToaster matToaster

<h3>
    Edit organization profile.
</h3>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        edit below information to update your organization profile.<br />
    </div>
    <!-- Content here: -->

    <MatCard style="min-width:400px; width: 50%; padding: 0 30px; margin:10px;">
        <fieldset style="margin:20px;">
            <div class="form-group">
                <MatTextField @bind-value="@organizationDataState.organizationParamerters.Organization.Title"
                              Label="Current Title" ReadOnly="true" FullWidth="true" icon="lock" IconTrailing="true">
                </MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-value="@this.organizationParameters.Organization.Title"
                              Label="New Title" FullWidth="true">
                </MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-value="@this.organizationParameters.Organization.Name"
                              Label="Name" FullWidth="true">
                </MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-value="@this.organizationParameters.Organization.Description"
                              Label="Description" FullWidth="true">
                </MatTextField>
            </div>
            <div class="form-group d-flex justify-content-end" style="margin-right:20px;">
                <MatButton OnClick="@SaveChanges" Raised="true">Save changes</MatButton>
                &nbsp;
                <MatButton OnClick="@ResetParameters" Raised="true">reset</MatButton>
            </div>
            <hr />
        </fieldset>
    </MatCard>

    <!-- End of content -->
</div>






@code {
    OrganizationParameters organizationParameters { get; set; } = new OrganizationParameters();

    public void ResetParameters()
    {
        this.organizationParameters = new OrganizationParameters(organizationDataState.organizationParamerters);
        StateHasChanged();
    }

    async Task SaveChanges()
    {
        try
        {
            userDataState.updateParameters(await organizationDataState.UpdateOrganizationParameters(this.organizationParameters));
            matToaster.Add("Successfully updated organization.", MatToastType.Success);
        }
        catch (Exception e)
        {
            matToaster.Add("Failed to update organization.", MatToastType.Danger);
        }
        finally
        {
            this.ResetParameters();
        }
    }

    protected override void OnInitialized()
    {
        organizationDataState.OnChange += StateHasChanged;
        this.ResetParameters();
    }
}
