﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page ... *@
@page "/organization/organizationentities"
@inject OrganizationDataState organizationDataState
@inject UserDataState userDataState
@inject IMatToaster matToaster
@using BlazorSecureLogin.Shared.DTO.Visualizations;
@using BlazorSecureLogin.Shared.DTO;
@using BlazorSecureLogin.Client.Pages.Organization.Layouts;
@using BlazorSecureLogin.Client.Pages.Layouts;


<div style="text-align:center">
    <MatH5>Manage your organizations entities in below grid</MatH5>
</div>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        Short description.<br />
    </div>
    <div style="margin:10px;">
        <!-- Content here: -->
        <MatTable Class="mat-elevation-z5" Items="@entityVisualizations" ShowFooter="false" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th><MatButton Icon="stars" Label="Add entity" OnClick="@(() => this.OpenDialog(DialogAction.Create, null))"></MatButton></th>
                <th>Member no.</th>
                <th>Name</th>
                <th>Groups</th>
                <th>Owners</th>
                <th>Created by</th>
                <th>Create date</th>
            </MatTableHeader>
            <MatTableRow Context="OrganizationEntityRow">
                <td>
                    <div style="width:160px">
                        <MatIconButton Icon="edit" OnClick="@(() => this.OpenDialog(DialogAction.Update, OrganizationEntityRow))"></MatIconButton>
                        <MatIconButton Icon="account_circle" OnClick="@(() => this.OpenInviteUserDialog(OrganizationEntityRow.Entity.Id))"></MatIconButton>
                        <MatIconButton Icon="delete" OnClick="@(() => DeleteEntity(OrganizationEntityRow))"></MatIconButton>
                    </div>
                </td>
                <td>
                    <div style="width:200px">
                        @OrganizationEntityRow.Entity.MemberNumber
                    </div>
                </td>
                <td>
                    <div style="width:200px">
                        @OrganizationEntityRow.Entity.Name
                    </div>
                </td>
                <td>
                    <div style="width:400px">
                        <MatChipSet>
                            @if (OrganizationEntityRow.LinkedGroups != null)
                            {
                                foreach (var name in @OrganizationEntityRow.LinkedGroups)
                                {
                                    <MatChip Label="@name"></MatChip>
                                }
                            }
                        </MatChipSet>
                    </div>
                </td>

                <td>
                    <MatChipSet>
                        @if (OrganizationEntityRow.Owners != null)
                        {
                            foreach (var name in @OrganizationEntityRow.Owners)
                            {
                                <MatChip Label="@name"></MatChip>
                            }
                        }
                    </MatChipSet>
                </td>
                <td>
                    <div style="width:100px">
                        <MatChip Label="@OrganizationEntityRow.CreatedByName"></MatChip>
                    </div>
                </td>
                <td>
                    <div style="width:175px">
                        @OrganizationEntityRow.Entity.CreateDate
                    </div>
                </td>
            </MatTableRow>
        </MatTable>

        <CascadingValue Value="@this.EditEntityParameters" Name="EditEntityParameters">
            <AddEditEntityLayout dialogOpen="@this.editDialogOpen" SaveCallback="SaveCallback" CancelCallback="CancelCallBack" dialogTitle="Edit entity"></AddEditEntityLayout>
            <AddEditEntityLayout dialogOpen="@this.addDialogOpen" SaveCallback="SaveCallback" CancelCallback="CancelCallBack" dialogTitle="Create entity"></AddEditEntityLayout>
        </CascadingValue>
        <ConfirmationDialog dialogTitle="Delete entity" dialogOpen="@this.deleteDialogOpen" CallBack="DeleteCallBack" data="EditEntityParameters"></ConfirmationDialog>
        <InputDialog data="userInviteParameters" dialogOpen="@this.inviteDialogOpen" CallBack="InviteUserCallBack"></InputDialog>
        <!-- End of content -->
    </div>
</div>




@code {
    private List<EntityVisualization> entityVisualizations { get; set; } = new List<EntityVisualization>();
    private EntityParameters EditEntityParameters { get; set; } = new EntityParameters();
    private UserInviteParameters userInviteParameters { get; set; } = new UserInviteParameters();
    private bool editDialogOpen = false;
    private bool addDialogOpen = false;
    private bool deleteDialogOpen = false;
    private bool inviteDialogOpen = false;
    protected override async Task OnInitializedAsync()
    {
        await this.LoadGridData();
    }

    private async Task LoadGridData()
    {
        this.entityVisualizations = await this.organizationDataState.GetAllOrganizationEntityVisualizations();
        this.StateHasChanged();
    }

    private void OpenDialog(DialogAction action, EntityVisualization entityVisualization = null)
    {
        this.EditEntityParameters = new EntityParameters();
        if (entityVisualization != null)
        {
            this.EditEntityParameters.Entity = (Entity)entityVisualization.Entity.Clone();
        }

        switch (action)
        {
            case DialogAction.Create:
                this.addDialogOpen = true;
                break;
            case DialogAction.Update:
                this.editDialogOpen = true;
                break;
            case DialogAction.Delete:
                this.deleteDialogOpen = true;
                break;
            default:
                matToaster.Add("Unsupported action type", MatToastType.Danger);
                break;
        }

        this.StateHasChanged();
    }

    private async void DeleteEntity(EntityVisualization entityVisualization)
    {
        this.OpenDialog(DialogAction.Delete, entityVisualization);
    }

    private void SaveCallback(EntityParameters entityParameters)
    {
        this.editDialogOpen = false;
        this.addDialogOpen = false;
        var item = this.entityVisualizations.Where(x => x.Entity.Id == entityParameters.Entity.Id).FirstOrDefault();
        if (item == null)
        {
            this.LoadGridData();
        }
        else
        {
            item.Entity = entityParameters.Entity;
        }

        this.StateHasChanged();
    }

    private void CancelCallBack()
    {
        this.editDialogOpen = false;
        this.addDialogOpen = false;
    }

    private async void DeleteCallBack(object data)
    {
        this.deleteDialogOpen = false;
        if (data == null)
        {
            return;
        }

        await this.organizationDataState.DeleteEntity(this.EditEntityParameters.Entity.Id);
        this.EditEntityParameters = new EntityParameters();
        await this.LoadGridData();
        matToaster.Add("Entity was successfully deleted.", MatToastType.Success);
    }

    private async void InviteUserCallBack(UserInviteParameters data)
    {
        if (data == null)
        {
            this.inviteDialogOpen = false;
            return;
        }

        if (await this.organizationDataState.EntityInviteUser(data))
        {
            matToaster.Add("Entity owner was succesfully added.", MatToastType.Success);
            await this.LoadGridData();
        }
        else
        {
            matToaster.Add("Incorrect email supplied or insufficient access to this entity.", MatToastType.Warning);
        }
    }

    private async void OpenInviteUserDialog(long entityId)
    {
        this.inviteDialogOpen = true;
        this.userInviteParameters.ReferenceType = ReferenceType.Entity;
        this.userInviteParameters.ReferenceId = entityId;
    }
}
