﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page ... *@
@page "/organization/organizationconnectentity"
@inject OrganizationDataState organizationDataState
@inject IMatToaster matToaster
@using BlazorSecureLogin.Client.Pages.Organization.Layouts;
@using BlazorSecureLogin.Shared.DTO;
@using System;
@using BlazorSecureLogin.Client.Pages.Layouts;
@using BlazorSecureLogin.Shared.DTO.Visualizations;

<h3>
    Headline.
</h3>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        Short description.<br />
    </div>
    <div style="margin:10px;">
        <!-- Content here: -->
        <DragNDropContainer>
            <DragNDropZone entityParameters="sourceEntityParameters" OnGroupChanged="HandleSourceGroupChanged" SelectLabel="Filter entities by group" ListStatus="PayloadStatus.Source" AllowedStatuses="@(new PayloadStatus[] { PayloadStatus.Source})" />

            <DragNDropZone entityParameters="targetEntityParameters" OnGroupChanged="HandleTargetGroupChanged" SelectLabel="Add to group" ListStatus="PayloadStatus.Target" AllowedStatuses="@(new PayloadStatus[] { PayloadStatus.Source})" OnDrop="HandleOnDrop" />
        </DragNDropContainer>

        <CascadingValue Value="@this.EditEntityParameters" Name="EditEntityParameters">
            <AddEditEntityLayout dialogOpen="@this.addDialogOpen" dialogTitle="Create entity" SaveCallback="SaveCallback" CancelCallback="CancelCallBack"></AddEditEntityLayout>
            <AddEditEntityLayout dialogOpen="@this.editDialogOpen" dialogTitle="Edit entity" SaveCallback="SaveCallback" CancelCallback="CancelCallBack"></AddEditEntityLayout>
        </CascadingValue>
        <!-- End of content -->
    </div>
</div>



@code {
    private EntityParameters EditEntityParameters { get; set; } = new EntityParameters();
    private bool addDialogOpen { get; set; } = false;
    private bool editDialogOpen { get; set; } = false;
    private bool deleteDialogOpen { get; set; } = false;
    private long currentSourceGroupId { get; set; }
    private long currentTargetGroupId { get; set; }

    Dictionary<long, EntityParameters> entityParameters = new Dictionary<long, EntityParameters>();
    List<EntityParametersDragNDrop> sourceEntityParameters = new List<EntityParametersDragNDrop>();
    List<EntityParametersDragNDrop> targetEntityParameters = new List<EntityParametersDragNDrop>();
    List<long> sourceEntityIds { get; set; } = new List<long>();
    List<long> targetEntityIds { get; set; } = new List<long>();

    string lastUpdatedJob = "";
    void HandleStatusUpdated(EntityParameters updatedEntity)
    {
        //lastUpdatedJob = updatedEntity.Description;
    }


    protected override async Task OnInitializedAsync()
    {
        await this.LoadData();
    }

    private async Task LoadData()
    {
        this.entityParameters = (await this.organizationDataState.GetOrganizationEntities()).ToDictionary(x => x.Entity.Id, y => y);
        StateHasChanged();
    }

    private void CancelCallBack()
    {
        this.addDialogOpen = false;
        this.editDialogOpen = false;
    }

    private async void SaveCallback(EntityParameters entityParameters)
    {
        this.editDialogOpen = false;
        this.addDialogOpen = false;
        this.entityParameters.TryGetValue(entityParameters.Entity.Id, out var item);
        if (item == null)
        {
            await this.LoadData();
        }
        else
        {
            item.Entity = entityParameters.Entity;
        }

        if (this.currentSourceGroupId == -1L)
        {
            await this.HandleSourceGroupChanged(this.currentSourceGroupId);
        }
    }

    private async Task HandleSourceGroupChanged(long groupId)
    {
        this.currentSourceGroupId = groupId;
        if (groupId > 0)
        {
            this.sourceEntityIds = await this.organizationDataState.GetEntityIdsFromGroupId(groupId);
        }
        else
        {
            this.sourceEntityIds = this.entityParameters.Select(x => x.Key).ToList();
        }

        GenerateEntityParameters();
        return;
    }

    private async Task HandleTargetGroupChanged(long groupId)
    {
        this.currentTargetGroupId = groupId;
        this.targetEntityIds = await this.organizationDataState.GetEntityIdsFromGroupId(groupId);
        GenerateEntityParameters();
        return;
    }

    private void GenerateEntityParameters()
    {
        this.sourceEntityParameters = new List<EntityParametersDragNDrop>();
        this.targetEntityParameters = new List<EntityParametersDragNDrop>();
        foreach (var id in this.targetEntityIds)
        {
            if (this.entityParameters.ContainsKey(id))
            {
                var ep = new EntityParametersDragNDrop(this.entityParameters[id]);
                ep.Status = PayloadStatus.Target;
                targetEntityParameters.Add(ep);
            }
        }

        foreach (var id in this.sourceEntityIds)
        {
            if (this.entityParameters.ContainsKey(id))
            {
                if (this.targetEntityIds.Find(x => x == id) == 0)
                {
                    var ep = new EntityParametersDragNDrop(this.entityParameters[id]);
                    ep.Status = PayloadStatus.Source;
                    sourceEntityParameters.Add(ep);
                }

            }
        }
        StateHasChanged();
    }

    private async Task HandleOnDrop(EntityParametersDragNDrop entityParameters)
    {
        var entity_Group = new Entity_Group();
        entity_Group.Entity_Id = entityParameters.Entity.Id;
        entity_Group.Group_Id = entityParameters.NewGroupId;
        if (!(await this.organizationDataState.LinkEntityAndGroup(entity_Group)))
        {
            matToaster.Add("Failed to add enity to group.", MatToastType.Warning);
            return;
        }

        this.sourceEntityIds.Remove(entityParameters.Entity.Id);
        this.targetEntityIds.Add(entityParameters.Entity.Id);
        this.GenerateEntityParameters();

        matToaster.Add("Sucessfully added entity to group.", MatToastType.Success);
    }
}
