﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page ... *@
@page "/organization/organizationgroups"
@inject OrganizationDataState organizationDataState
@inject IMatToaster matToaster
@using BlazorSecureLogin.Shared.DTO.Visualizations;
@using BlazorSecureLogin.Shared.DTO;
@using BlazorSecureLogin.Client.Pages.Organization.Layouts;
@using BlazorSecureLogin.Client.Pages.Layouts;
@using Microsoft.AspNetCore.Components.Web;
<div style="text-align:center">
    <MatH5>Manage your organizations group(s) in below grid</MatH5>
</div>
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        Short description.<br />
    </div>
    <div style="margin:10px;">
        <!-- Content here: -->
        <MatTable Class="mat-elevation-z5" Items="@groupVisualizations" ShowFooter="false" ShowPaging="false" PageSize="1000">
            <MatTableHeader>
                <th><MatButton Icon="stars" Label="Add group" OnClick="@(() => this.OpenDialog(DialogAction.Create, null))"></MatButton></th>
                <th>Title</th>
                <th>Description</th>
                <th>Administrators</th>
                <th>Created by</th>
                <th>Create date</th>
            </MatTableHeader>
            <MatTableRow Context="OrganizationGroupRow">
                <td>
                    <div style="width:160px">
                        <MatIconButton Icon="edit" OnClick="@(() => this.OpenDialog(DialogAction.Update, OrganizationGroupRow))"></MatIconButton>
                        <MatIconButton Icon="account_circle" OnClick="@(() => this.OpenInviteUserDialog(OrganizationGroupRow.Group.Id))"></MatIconButton>
                        <MatIconButton Icon="delete" OnClick="@(() => DeleteGroup(OrganizationGroupRow))"></MatIconButton>
                    </div>
                </td>
                <td>
                    <div style="width:200px">
                        @OrganizationGroupRow.Group.Title
                    </div>
                </td>
                <td>
                    <div style="width:600px">
                        @OrganizationGroupRow.Group.Description
                    </div>
                </td>

                <td>
                    <MatChipSet>
                        @if (OrganizationGroupRow.Administrators != null)
                        {
                            foreach (var name in @OrganizationGroupRow.Administrators)
                            {
                                <MatChip Label="@name"></MatChip>
                            }
                        }
                    </MatChipSet>
                </td>
                <td>
                    <div style="width:100px">
                        <MatChip Label="@OrganizationGroupRow.CreatedByName"></MatChip>
                    </div>
                </td>
                <td>
                    <div style="width:175px">
                        @OrganizationGroupRow.Group.CreateDate
                    </div>
                </td>
            </MatTableRow>
        </MatTable>

        <CascadingValue Value="@this.EditGroupParameters" Name="EditGroupParameters">
            <AddEditGroupLayout dialogOpen="@this.editDialogOpen" SaveCallback="SaveCallback" CancelCallback="CancelCallBack" dialogTitle="Edit group"></AddEditGroupLayout>
            <AddEditGroupLayout dialogOpen="@this.addDialogOpen" SaveCallback="SaveCallback" CancelCallback="CancelCallBack" dialogTitle="Create group"></AddEditGroupLayout>
        </CascadingValue>
        <ConfirmationDialog dialogTitle="Delete group" dialogOpen="@this.deleteDialogOpen" CallBack="DeleteCallBack" data="@EditGroupParameters"></ConfirmationDialog>
        <InputDialog data="userInviteParameters" dialogOpen="@this.inviteDialogOpen" CallBack="InviteUserCallBack"></InputDialog>
        <!-- End of content -->
    </div>
</div>

@code {
    private List<GroupVisualization> groupVisualizations { get; set; } = new List<GroupVisualization>();
    private GroupParameters EditGroupParameters { get; set; } = new GroupParameters();
    private UserInviteParameters userInviteParameters { get; set; } = new UserInviteParameters();
    private bool editDialogOpen = false;
    private bool addDialogOpen = false;
    private bool deleteDialogOpen = false;
    private bool inviteDialogOpen = false;
    protected override async Task OnInitializedAsync()
    {
        await this.LoadGridData();
    }

    private async Task LoadGridData()
    {
        this.groupVisualizations = await this.organizationDataState.GetAllOrganizationGroupVisualizations();
        //this.groupVisualizations = this.organizationDataState.AllOrganizationGroupVisualizations;
        this.StateHasChanged();
    }

    private void OpenDialog(DialogAction action, GroupVisualization groupVisualization = null)
    {
        this.addDialogOpen = false;
        this.editDialogOpen = false;
        this.deleteDialogOpen = false;
        this.inviteDialogOpen = false;

        this.EditGroupParameters = new GroupParameters();
        if (groupVisualization != null)
        {
            this.EditGroupParameters.Group = (Group)groupVisualization.Group.Clone();
        }

        switch (action)
        {
            case DialogAction.Create:
                this.addDialogOpen = true;
                break;
            case DialogAction.Update:
                this.editDialogOpen = true;
                break;
            case DialogAction.Delete:
                this.deleteDialogOpen = true;
                break;
            default:
                matToaster.Add("Unsupported action type", MatToastType.Danger);
                break;
        }

        this.StateHasChanged();
    }

    private async void DeleteGroup(GroupVisualization groupVisualization)
    {
        this.OpenDialog(DialogAction.Delete, groupVisualization);
    }

    private void SaveCallback(GroupParameters groupParameters)
    {
        this.editDialogOpen = false;
        this.addDialogOpen = false;
        var item = this.groupVisualizations.Where(x => x.Group.Id == groupParameters.Group.Id).FirstOrDefault();
        if (item == null)
        {
            this.LoadGridData();
        }
        else
        {
            item.Group = groupParameters.Group;
        }

        this.StateHasChanged();
    }

    private void CancelCallBack()
    {
        this.editDialogOpen = false;
        this.addDialogOpen = false;
    }

    private async void DeleteCallBack(object data)
    {
        this.deleteDialogOpen = false;
        if (data == null)
        {
            return;
        }

        await this.organizationDataState.DeleteGroup(this.EditGroupParameters.Group.Id);
        this.EditGroupParameters = new GroupParameters();
        await this.LoadGridData();
        matToaster.Add("Group was successfully deleted.", MatToastType.Success);
    }

    private async void InviteUserCallBack(UserInviteParameters data)
    {
        if (data == null)
        {
            this.inviteDialogOpen = false;
            return;
        }

        if (await this.organizationDataState.GroupInviteUser(data))
        {
            matToaster.Add("Group admin was succesfully added.", MatToastType.Success);
            await this.LoadGridData();
        }
        else
        {
            matToaster.Add("Incorrect email supplied or insufficient access to this group.", MatToastType.Warning);
        }
    }

    private async void OpenInviteUserDialog(long groupId)
    {
        this.addDialogOpen = false;
        this.editDialogOpen = false;
        this.deleteDialogOpen = false;
        this.inviteDialogOpen = true;
        this.userInviteParameters.ReferenceType = ReferenceType.Group;
        this.userInviteParameters.ReferenceId = groupId;
    }
}
