﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page ... *@
@page "/organization/organizationdashboard"
@inject OrganizationDataState organizationDataState
@using BlazorSecureLogin.Client.Shared;
@using BlazorSecureLogin.Shared.DTO;

<MatIconButton Icon="loop" OnClick="@LoadData" Style="float:right;"></MatIconButton>
<h3>
    Organization dashboard
</h3>
<h5>
    Shows data for attached modules for this organization (currently only calendar module)
</h5>
<br />
<div style="display: flex; flex-direction: column; padding: 0;" class="mat-elevation-z5">
    <DashboardComponent DataSource="@this.DataSource"></DashboardComponent>
</div>


@code {
    private List<CalendarData> DataSource = new List<CalendarData>();
    protected override async Task OnInitializedAsync()
    {
        this.organizationDataState.OnChange += StateHasChanged;
        await this.LoadData();
    }

    private async Task LoadData()
    {
        this.DataSource = await this.organizationDataState.GetCalendarDatas();
        this.StateHasChanged();
    }
}