﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page is a calendar view on organizatoin level*@
@page "/organization/organizationcalendar"
@inject OrganizationDataState organizationDataState
@using System.ComponentModel
@using Syncfusion.EJ2.Blazor.Schedule
@using Syncfusion.EJ2.Blazor
@using BlazorSecureLogin.Shared.DTO
@using BlazorSecureLogin.Shared
@using BlazorSecureLogin.Client.Pages.Organization.Layouts;

<MatIconButton Icon="loop" OnClick="@LoadData" Style="float:right;"></MatIconButton>
<h3>
    Organization calendar.
</h3>
<h5>
    In this calendar you can find all events linked to the owners of this organization.
</h5>
<br />
<div style="display: flex; flex-direction: column; padding: 0;" class="mat-elevation-z5">
    <MatButton Label="Add appointment" OnClick="@Open"></MatButton>
    <EjsSchedule TValue="CalendarData" Width="100%" Height="650px" SelectedDate="@DateTime.Now.Date" Readonly="true" StartHour="8">
        <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
    </EjsSchedule>
</div>
<AddCalendarEvent referenceType="@ReferenceType.Organization" dialogOpen="@openDialog" dialogTitle="Create new appointment"  SaveCallback="HandleSaveCallback" CancelCallback="HandleCancelCallback"></AddCalendarEvent>


@code{
    private static ReferenceConverter converter = new ReferenceConverter(typeof(EjsSchedule<>));
    private bool openDialog { get; set; } = false;
    private CalendarPutParameters calendarPutParameters { get; set; } = new CalendarPutParameters();
    private List<CalendarData> DataSource = new List<CalendarData>();

    protected override async Task OnInitializedAsync()
    {
        await this.LoadData();
    }

    private async Task LoadData()
    {
        this.DataSource = await this.organizationDataState.GetCalendarDatas();
        this.StateHasChanged();
    }

    private void Open()
    {
        calendarPutParameters.CalendarType = BlazorSecureLogin.Shared.CalendarType.Organization;
        calendarPutParameters.CalendarData.SourceOrganization_Id = this.organizationDataState.organizationParamerters.Organization.Id;
        this.openDialog = true;
        this.StateHasChanged();
    }

    private void HandleSaveCallback(CalendarPutParameters calendarPutParameters)
    {
        this.openDialog = false;
        if (calendarPutParameters != null)
        {
            this.LoadData();
        }
    }

    private void HandleCancelCallback()
    {
        this.openDialog = false;
        this.StateHasChanged();
    }
}