﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: Layout to update an existing entity (NOT YET FULLY IMPLEMENTED)*@
@page "/entity/entityprofile"
@inject EntityDataState entityDataState



<MatCard style="min-width:400px; width: 50%; padding: 0 30px;">
    <fieldset style="margin:20px;">
        <div class="form-group">
            <MatTextField @bind-value="@entityDataState.EntityParameters.Entity.MemberNumber" Label="Member no." ReadOnly="true" FullWidth="true" icon="lock" IconTrailing="true"></MatTextField>
        </div>
        <div class="form-group">
            <MatTextField @bind-value="@this.entityParameters.Entity.Name" Label="Name" FullWidth="true"></MatTextField>
        </div>
        <div class="form-group">
            <MatTextField @bind-value="@this.entityParameters.Entity.Description" Label="Description" FullWidth="true"></MatTextField>
        </div>
        <div class="form-group d-flex justify-content-end" style="margin-right:20px;">
            <MatButton OnClick="@SaveChanges" Raised="true">Save changes</MatButton>
            <MatButton OnClick="@ResetParameters" Raised="true">Reset</MatButton>
        </div>
        <hr />
    </fieldset>
</MatCard>



@code {
    EntityParameters entityParameters { get; set; } = new EntityParameters();

    public void ResetParameters()
    {
        this.entityParameters = entityDataState.EntityParameters;
        StateHasChanged();
    }

    async Task SaveChanges()
    {
        await entityDataState.UpdateEntityParameters(this.entityParameters);
        this.ResetParameters();
    }

    protected override void OnInitialized()
    {
        entityDataState.OnChange += StateHasChanged;
        this.entityParameters = entityDataState.EntityParameters;
        StateHasChanged();
    }
}