﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: Page to add a new organization*@
@page "/addorganization"
@inject AuthenticationState authState
@inject HttpClient _httpClient
@inject IMatToaster matToaster
@inject UserDataState userDataState
@using Newtonsoft.Json;
@using System.Text;


<h3>
    Headline.
</h3>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        Short description.<br />
    </div>
    <div>
        <!-- Content here: -->
        <MatCard style="min-width:400px; width: 50%; padding: 0 30px; margin : 10px;">
            <fieldset style="margin:20px;">
                <div class="form-group">
                    <MatTextField @bind-value="@OrganizationParameters.Organization.Title" Label="Organization title" FullWidth="true" icon="supervisor_account" IconTrailing="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-value="@OrganizationParameters.Organization.Name" Label="Organization Name" FullWidth="true" icon="supervisor_account" IconTrailing="true"></MatTextField>
                </div>
                <div class="form-group d-flex justify-content-end" style="margin-right:20px;">
                    <MatButton OnClick="@Add" Raised="true">Add Organization</MatButton>
                </div>
                <hr />
            </fieldset>
        </MatCard>
        <!-- End of content -->
    </div>
</div>



@code {

    public OrganizationParameters OrganizationParameters { get; set; } = new OrganizationParameters();

    public async Task Add()
    {
        try
        {
            await this.userDataState.AddOrganization(OrganizationParameters);
            matToaster.Add("Organization was created.", MatToastType.Success);
            OrganizationParameters = new OrganizationParameters();
        }
        catch (Exception e)
        {
            matToaster.Add("Organization creation failed.", MatToastType.Danger);
        }
    }
}
