﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: Razor file to show users personal calendar.*@
@page "/calendar"
@inject UserDataState userDataState
@inject IMatToaster matToaster
@using System.ComponentModel
@using Syncfusion.EJ2.Blazor.Schedule
@using Syncfusion.EJ2.Blazor
@using BlazorSecureLogin.Shared.DTO

<MatIconButton Icon="loop" OnClick="@LoadData" Style="float:right;"></MatIconButton>
<h3>
    Personal calendar.
</h3>
<h5>
    In this calendar you can find all events from all your connections.
</h5>
<br />
<div style="display: flex; flex-direction: column; padding: 0;" class="mat-elevation-z5">
    <EjsSchedule TValue="CalendarData" Width="100%" Height="650px" SelectedDate="@DateTime.Now.Date" Readonly="true" StartHour="8">
        <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
    </EjsSchedule>
</div>


@code{
    private static ReferenceConverter converter = new ReferenceConverter(typeof(EjsSchedule<>));

    public List<CalendarData> DataSource = new List<CalendarData>();

    protected override async Task OnInitializedAsync()
    {
        await this.LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            this.DataSource = await this.userDataState.GetCalendarDatas();
        }
        catch (Exception e)
        {
            matToaster.Add("Failed to load user calender.", MatToastType.Danger);
            Console.WriteLine("Error was:" + e);
        }
        this.StateHasChanged();
    }
}