﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page is for editing user profile information *@
@page "/editprofile"
@inject AuthenticationState authState
@inject IMatToaster matToaster
<h3>
    Edit user page.
</h3>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
    <div style="padding: 5px; border: 1px solid white;">
        Edit your personal userinformation here<br />
    </div>
    <!-- Content here: -->
    <MatCard style="min-width:400px; width: 50%; padding: 0 30px; margin : 10px;">
        <fieldset style="margin:20px;">
            <div class="form-group">
                <MatTextField @bind-Value="@CurrentUserName" Label="Current username" ReadOnly="true" FullWidth="true" icon="lock" IconTrailing="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@info.NewUserName" Label="New username" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@info.FirstName" Label="First name" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@info.LastName" Label="Last name" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatDatePicker Class="edit-profile-selector" @bind-Value="@this.BirthDate" Label="Birth date"></MatDatePicker>
            </div>
            <div class="form-group edit-profile-selector">

                <MatSelect Label="Gender" @bind-value="@GenderOption">
                    <MatOption Value="0">Unset</MatOption>
                    <MatOption Value="1">Male</MatOption>
                    <MatOption Value="2">Female</MatOption>
                    <MatOption Value="3">Appache attack helicopter</MatOption>
                </MatSelect>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@info.Country" Label="Country" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@info.PostalCode" Label="Postal code" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@info.Address1" Label="Main address" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="@info.Address2" Label="Secondary address" FullWidth="true"></MatTextField>
            </div>
            <div class="form-group d-flex justify-content-end" style="margin-right:20px;">
                <MatButton OnClick="@SaveChanges" Raised="true">Save changes</MatButton>
            </div>
            <hr />
        </fieldset>
    </MatCard>
    <!-- End of page -->
</div>

@code {
    private DateTime? BirthDate { get; set; } = DateTime.Now;
    UserInfo info { get; set; } = new UserInfo();
    string CurrentUserName { get; set; }

    string GenderOption
    {
        get
        {
            if (info != null && info.Gender != null)
                return info.Gender.ToString();
            else
                return "0";
        }
        set
        {
            int genderValue = 0;
            int.TryParse(value, out genderValue);

            info.Gender = genderValue > 0 ? (int?)genderValue : null;
            this.StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        info = await authState.GetUserInfo();
        if (info != null)
        {
            CurrentUserName = info.UserName;
            if (info.Gender.HasValue)
            {
                GenderOption = info.Gender.ToString();
            }
            this.BirthDate = info.BirthDate;
        }
        this.StateHasChanged();
    }

    async Task SaveChanges()
    {
        try
        {
            info.BirthDate = this.BirthDate.GetValueOrDefault();
            await authState.UpdateUserInfo(info);
            matToaster.Add("Successfully updated profile.", MatToastType.Success);
        }
        catch (Exception e)
        {
            matToaster.Add("Failed to update profile.", MatToastType.Danger);
        }
    }
}
