﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page is generated using API call to server from a JSON feed. Use it as an example to generate FAQ. *@
@page "/faq"
@using BlazorSecureLogin.Shared
@inject HttpClient Http

@if (FAQs == null)
{
    <LoadingBackground ShowLogoBox="true" />
}
else
{
    <h3>
        Find your help here.
    </h3>
    <br />
    <div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">
        <div style="padding: 5px; border: 1px solid white;">
            Use the below cards to find answers for the the most commenly asked questions.<br />
        </div>
        <!-- Content here: -->
        @foreach (FAQS faq in FAQs)
        {
            <MatAccordion Style="margin:5px;">
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>
                            @faq.Subject
                        </MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        @if (faq.Subject != null && faq.Answers.Count > 0)
                        {
                            @foreach (Answers answer in faq.Answers)
                            {
                                <MatAccordion>
                                    <MatExpansionPanel>
                                        <MatExpansionPanelSummary>
                                            <MatExpansionPanelHeader>
                                                <MatIcon Icon="bookmarks"></MatIcon>&nbsp;@answer.Question
                                            </MatExpansionPanelHeader>
                                        </MatExpansionPanelSummary>
                                        <MatExpansionPanelDetails>
                                            <MatIcon Icon="thumb_up"></MatIcon>&nbsp;@answer.Answer
                                        </MatExpansionPanelDetails>
                                    </MatExpansionPanel>
                                </MatAccordion>
                            }
                        }
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>
            </MatAccordion>
        }
        <!-- End of content -->
    </div>



}

@code {
    List<FAQS> FAQs;

    protected override async Task OnInitializedAsync()
    {
        FAQs = await Http.GetJsonAsync<List<FAQS>>("api/FaqData/GetFaqData");
    }

}
