﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This is the default landing page for authorized users. *@
@page "/"
@inject AuthenticationState authState
@inject UserDataState userDataState
@using BlazorSecureLogin.Client.Shared;
@using BlazorSecureLogin.Shared.DTO;

@if (userInfo == null)
{
    <LoadingBackground ShowLogoBox="true" />
}
else
{
    <MatIconButton Icon="loop" OnClick="@LoadData" Style="float:right;"></MatIconButton>
    <h3>
        Dashboard
    </h3>
    <h5>
        Shows data for attached modules (currently only calendar module)
    </h5>
    <br />
    <div style="display: flex; flex-direction: column; padding: 0;" class="mat-elevation-z5">
        <DashboardComponent DataSource="@this.DataSource"></DashboardComponent>
    </div>



}

@code {
    private UserInfo userInfo;
    private List<CalendarData> DataSource = new List<CalendarData>();
    protected override async Task OnInitializedAsync()
    {
        userInfo = await authState.GetUserInfo();
        await this.LoadData();
    }

    private async Task LoadData()
    {
        this.DataSource = await this.userDataState.GetCalendarDatas();
        this.StateHasChanged();
    }
}