﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page is landing page for unauthorized users and allows for navigation to user creation and login *@
@page "/login"
@layout LoginLayout
@inject NavigationManager UriHelper
@inject HttpClient Http
@inject IMatToaster matToaster
@inject AuthenticationState state
@using Newtonsoft.Json;

<MatCard>
    <div class="logo">
        <img src="images/logo.png" style="width:100px;" /><br />
    </div>
    <fieldset>
        <div class="form-group">
            <MatTextField @bind-value="@loginParameters.Email" Label="Email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
        </div>
        <div class="form-group">
            <MatTextField @bind-value="@loginParameters.Password" Label="Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
        </div>
        <div class="form-group" style="display:inline-block;width:100%;">
            <MatCheckbox bind-Checked="@loginParameters.RememberMe" class="filled-in chk-col-blue">Remember Me</MatCheckbox>
            <MatButton class="float-none" Style="margin:0 0 4px 115px" Link="register" Raised="true">Sign up</MatButton>
            <MatButton class="float-right" Style="margin-left:10px;" OnClick="@SubmitLogin" Raised="true">Login</MatButton>
        </div>
    </fieldset>
    <h5>Other login services.</h5>
    <div>
        @foreach (var provider in loginProviders)
        {
            <div class="float-left" style="margin:0 10px 5px 0;">
                <form action="api/Authorize/externalLogin" method="post">
                    <MatButton type="submit" Class="float-left" Outlined="true" name="provider" value="@provider.Name">@provider.Name</MatButton>
                </form>
            </div>
        }
    </div>
</MatCard>
<MatAccordion>
    <MatExpansionPanel bind-Expanded="@forgotPasswordToggle">
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader Class="tba" Style="display:inline-block;">Forgot Password?</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader></MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="form-group">
                <MatTextField @bind-value="@forgotPasswordEmail" Label="Email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatButton class="float-right secureloginbtn" OnClick="@ResetPassword" Raised="true">Submit</MatButton>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>

@code {
    List<SigninProvider> loginProviders = new List<SigninProvider>();
    bool forgotPasswordToggle = false;
    string error { get; set; } = "";
    string @forgotError { get; set; } = "";
    LoginParameters loginParameters { get; set; } = new LoginParameters();
    string forgotPasswordEmail;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.SendAsync(new HttpRequestMessage(HttpMethod.Get, "api/Authorize/LoginProviders"));
        loginProviders = JsonConvert.DeserializeObject<List<SigninProvider>>(await response.Content.ReadAsStringAsync());

        StateHasChanged();

    }

    public async Task SubmitLogin()
    {
        try
        {
            await state.Login(loginParameters);
            UriHelper.NavigateTo("");
        }
        catch (Exception ex)
        {
            matToaster.Add("Login attempt failed, Please try again.", MatToastType.Danger);
        }
    }

    public async Task ResetPassword()
    {
        matToaster.Add("Not implemented yet.", MatToastType.Warning);
    }
}
