﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This file should show user pending invites but is stil under construction*@
@page "/notifications"
@inject AuthenticationState authState

<h3>
    Notifications
</h3>
<br />
<div style="display: flex; flex-direction: column; padding: 10px;" class="mat-elevation-z5">

    <div style="padding: 5px; border: 1px solid white;">
        This is Where user notifications should be<br />
        Invitations for entities ang groups etc.
    </div>
</div>

@code {
    UserInfo userInfo;

    protected override async Task OnInitializedAsync()
    {
        userInfo = await authState.GetUserInfo();
    }
}