﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This page is for user registration for locally stored user account information *@
@page "/register"
@layout LoginLayout
@inject NavigationManager uriHelper
@inject AuthenticationState state
@inject IMatToaster matToaster

<MatCard>
    <div class="logo">
        <img src="images/logo.png" style="width:100px;" /><br />
    </div>
    <fieldset>
        <div class="form-group" tabindex="-10">
            <MatTextField @bind-value="@registerParameters.UserName" Label="Username" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
        </div>
        <div class="form-group" tabindex="-9">
            <MatTextField @bind-value="@registerParameters.Email" Label="Email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
        </div>
        <div class="form-group" tabindex="-8">
            <MatTextField @bind-value="@registerParameters.Password" Label="Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
        </div>
        <div class="form-group" tabindex="-7">
            <MatTextField @bind-value="@registerParameters.PasswordConfirm" Label="Password Confirmation" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
        </div>
        <div class="form-group d-flex justify-content-end" tabindex="-6">
            <MatButton Link="login" Style="margin-right:172px" Raised="true">Go back</MatButton>
            <MatButton OnClick="@SubmitCreate" Raised="true">Create account</MatButton>
        </div>
        <hr />
    </fieldset>
</MatCard>

@code {

    RegisterParameters registerParameters { get; set; } = new RegisterParameters();
    string error { get; set; } = "";

    async Task SubmitCreate()
    {
        try
        {
            error = "";
            await state.Register(registerParameters);
            uriHelper.NavigateTo("");
        }
        catch (Exception ex)
        {
            matToaster.Add("User creation failed.", MatToastType.Danger);
        }
    }
}
