﻿@inject OrganizationDataState organizationDataState
@inject GroupDataState groupDataState
@inject IMatToaster matToaster
@using BlazorSecureLogin.Shared.DTO.Visualizations;
@using BlazorSecureLogin.Shared.DTO;
@using Syncfusion.EJ2.Blazor.DropDowns

<MatDialog @bind-IsOpen="@this.dialogOpen">
    <MatDialogTitle>@this.dialogTitle</MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@this.calendarPutParameters">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <fieldset>
                <div class="form-group">
                    <MatTextField @bind-Value="@this.calendarPutParameters.CalendarData.Title" Label="Appointment title" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@this.calendarPutParameters.CalendarData.Description" Label="Appointment description" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@this.calendarPutParameters.CalendarData.Location" Label="Location" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group" style="width:500px;">
                    <MatDatePicker Enable24hours="true" EnableTime="true" DateFormat="Y-m-d H:i" Class="add-calendar-selector" @bind-Value="@this.StartTime" Label="Start time" Required="true"></MatDatePicker>
                    <MatDatePicker Enable24hours="true" EnableTime="true" DateFormat="Y-m-d H:i" Class="add-calendar-selector" @bind-Value="@this.EndTime" Label="End time" Required="true"></MatDatePicker>
                </div>
                @if (IsOrganizationAdmin)
                {
                    <div class="form-group">
                        <MatCheckbox @bind-Checked="@this.calendarPutParameters.AdminCalendar" class="filled-in chk-col-blue" Label="Only for group owners & organization owners."></MatCheckbox>
                    </div>
                }
                <div class="form-group control_wrapper">
                    <div id='content'>
                        <div class="control-styles">
                            @if (referenceType == ReferenceType.Organization)
                            {
                                <h6>Select group(s)</h6>
                            }
                            else if (referenceType == ReferenceType.Group)
                            {
                                <h6>Select entities</h6>
                            }
                            <EjsMultiSelect Mode="@VisualMode.Box" @bind-Value="@MultiVal" Placeholder="Select value(s)" DataSource="@this.DataSource">
                                <MultiSelectFieldSettings Text="Text" Value="Id"></MultiSelectFieldSettings>
                            </EjsMultiSelect>
                        </div>
                    </div>
                </div>

            </fieldset>
        </EditForm>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(() => this.handleCancel())">Cancel</MatButton>
        <MatButton OnClick="@(async () => await this.HandleAddCalendarData())">Save changes</MatButton>
    </MatDialogActions>
</MatDialog>
@code {
    private bool IsOrganizationAdmin { get; set; } = false;
    private DateTime? StartTime { get; set; } = DateTime.Now;
    private DateTime? EndTime { get; set; } = DateTime.Now.AddHours(2);
    private List<long?> MultiVal;

    private List<GroupParameters> OrganizationGroups { get; set; } = new List<GroupParameters>();
    private List<MultiSelectVisualization> DataSource { get; set; } = new List<MultiSelectVisualization>();
    private List<Entity> GroupEntities { get; set; } = new List<Entity>();
    [Parameter] public EventCallback<CalendarPutParameters> SaveCallback { get; set; }
    [Parameter] public EventCallback CancelCallback { get; set; }

    [Parameter]
    public bool dialogOpen { get; set; }

    [Parameter]
    public string dialogTitle { get; set; }

    [Parameter]
    public ReferenceType referenceType { get; set; }

    private CalendarPutParameters calendarPutParameters { get; set; } = new CalendarPutParameters();

    protected override async Task OnInitializedAsync()
    {
        this.groupDataState.OnLogin += LoadGroupEntities;
        if (referenceType == ReferenceType.Organization)
        {
            await this.loadOrganizationGroups();
        }
        else if (referenceType == ReferenceType.Group)
        {
            await this.LoadGroupEntitiesAsync();
        }
    }

    private async Task HandleAddCalendarData()
    {

        try
        {
            this.calendarPutParameters.CalendarData.SourceOrganization_Id = this.organizationDataState.organizationParamerters.Organization.Id;
            if (MultiVal.Any(x => x == -2))
            {
                calendarPutParameters.Ids = new List<long>() { this.organizationDataState.organizationParamerters.Organization.Id };
                calendarPutParameters.CalendarType = CalendarType.Organization;
            }
            else if (MultiVal.Any(x => x == -1))
            {
                if (this.referenceType == ReferenceType.Organization)
                {
                    if (IsOrganizationAdmin)
                    {
                        calendarPutParameters.Ids = new List<long>() { this.organizationDataState.organizationParamerters.Organization.Id };
                        calendarPutParameters.CalendarType = CalendarType.Organization;
                        calendarPutParameters.AllGroups = true;
                    }
                    else
                    {
                        calendarPutParameters.CalendarType = CalendarType.Group;
                        calendarPutParameters.Ids = this.OrganizationGroups.Select(x => x.Group.Id).ToList();
                        calendarPutParameters.CalendarData.SourceGroup_Id = calendarPutParameters.Ids.First();
                    }
                }
                else if (this.referenceType == ReferenceType.Group)
                {
                    calendarPutParameters.CalendarType = CalendarType.Group;
                    calendarPutParameters.Ids.Add(this.calendarPutParameters.CalendarData.SourceGroup_Id.Value);
                }
                else return;

            }
            else if ( MultiVal == null || !MultiVal.Any() )
            {
                matToaster.Add("You must select atleast one item", MatToastType.Info);
                return;
            }
            else
            {
                if (this.referenceType == ReferenceType.Organization)
                {
                    calendarPutParameters.CalendarType = CalendarType.Group;
                    calendarPutParameters.Ids = MultiVal.Select(x => (long)x).ToList();
                    calendarPutParameters.CalendarData.SourceGroup_Id = calendarPutParameters.Ids.First();
                }
                else if (this.referenceType == ReferenceType.Group)
                {
                    calendarPutParameters.CalendarType = CalendarType.Entity;
                    calendarPutParameters.Ids = MultiVal.Select(x => (long)x).ToList();
                }
                else return;
            }

            calendarPutParameters.CalendarData.StartTime = this.StartTime != null ? this.StartTime.Value : new DateTime();
            calendarPutParameters.CalendarData.EndTime = this.EndTime != null ? this.EndTime.Value : new DateTime();

            if (await this.organizationDataState.AddCalendarData(calendarPutParameters))
            {
                matToaster.Add("Calendar appointment was successfully added.", MatToastType.Success);
                this.SaveCallback.InvokeAsync(calendarPutParameters);
            }
            else
            {
                matToaster.Add("Failed to add Calendar appointment.", MatToastType.Danger);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }

    }

    private void handleCancel()
    {
        CancelCallback.InvokeAsync(null);
    }

    private async Task LoadGroupEntitiesAsync()
    {
        Console.WriteLine("loadGroupEntities was called");
        this.DataSource = new List<MultiSelectVisualization>();
        this.GroupEntities = await this.groupDataState.GetGroupEntities();
        this.DataSource.Add(
            new MultiSelectVisualization
            {
                Id = -1,
                Text = "All entities"
            });

        this.DataSource.AddRange(this.GroupEntities.Select(x => new MultiSelectVisualization { Id = x.Id, Text = x.Name }).ToList());

        this.StateHasChanged();
    }

    private void LoadGroupEntities()
    {
        this.LoadGroupEntitiesAsync();
    }

    private async Task loadOrganizationGroups()
    {
        this.DataSource = new List<MultiSelectVisualization>();
        //this.MultiVal = new List<long?>();
        if (await this.organizationDataState.GetIsOrganizationAdmin())
        {
            IsOrganizationAdmin = true;
            this.OrganizationGroups = await this.organizationDataState.GetAllGroups();
            this.DataSource.Add(
                new MultiSelectVisualization
                {
                    Id = -1,
                    Text = "All groups"
                }
            );
            this.DataSource.Add(
                new MultiSelectVisualization
                {
                    Id = -2,
                    Text = "No groups"
                }
            );
        }
        else
        {
            this.OrganizationGroups = await this.organizationDataState.GetGroupsAsAdmin();
        }

        this.DataSource.AddRange(this.OrganizationGroups.Select(x => new MultiSelectVisualization { Id = x.Group.Id, Text = x.Group.Title }).ToList());
        this.StateHasChanged();
    }
}
