﻿@inject OrganizationDataState organizationDataState
@inject IMatToaster matToaster
@using BlazorSecureLogin.Shared.DTO.Visualizations;


<MatDialog @bind-IsOpen="@this.dialogOpen">
    <MatDialogTitle>@this.dialogTitle</MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@this.groupParameters">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <fieldset>
                <div class="form-group">
                    <MatTextField @bind-Value="@this.groupParameters.Group.Title" Label="Title" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group" style="width:500px;">
                    <MatTextField @bind-Value="@this.groupParameters.Group.Description" Label="Description" FullWidth="true" Required="false"></MatTextField>
                </div>
            </fieldset>
        </EditForm>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(() => this.handleCancel())">Cancel</MatButton>
        <MatButton OnClick="@(async () => await HandleAddEditGroup())">Save changes</MatButton>
    </MatDialogActions>
</MatDialog>
@code {

    [Parameter] public EventCallback<GroupParameters> SaveCallback { get; set; }
    [Parameter] public EventCallback CancelCallback { get; set; }

    [Parameter]
    public bool dialogOpen { get; set; }

    [Parameter]
    public string dialogTitle { get; set; }
    [CascadingParameter(Name = "EditGroupParameters")]
    public GroupParameters groupParameters { get; set; } = new GroupParameters();
    private async Task HandleAddEditGroup()
    {
        try
        {
            this.groupParameters.Group.Organization_Id = this.organizationDataState.organizationParamerters.Organization.Id;
            if (this.groupParameters.Group.Id > 0)
            {
                await this.organizationDataState.UpdateGroup(this.groupParameters);
                matToaster.Add("Group was successfully updated.", MatToastType.Success);
            }
            else
            {
                this.groupParameters = await this.organizationDataState.CreateGroup(this.groupParameters);
                matToaster.Add("Group was successfully created.", MatToastType.Success);
            }

            this.dialogOpen = false;
            this.StateHasChanged();
            SaveCallback.InvokeAsync(this.groupParameters);

        }
        catch ( Exception e )
        {
            matToaster.Add(e.Message, MatToastType.Warning);
        }
    }

    private void handleCancel()
    {
        CancelCallback.InvokeAsync(null);
    }
}
