﻿@inject OrganizationDataState organizationDataState
@inject IMatToaster matToaster
@using BlazorSecureLogin.Shared.DTO.Visualizations;


<MatDialog @bind-IsOpen="@this.dialogOpen">
    <MatDialogTitle>@this.dialogTitle</MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@this.entityParameters">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <fieldset>
                <div class="form-entity">
                    <MatTextField @bind-Value="@this.entityParameters.Entity.MemberNumber" Label="Member no." FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-entity">
                    <MatTextField @bind-Value="@this.entityParameters.Entity.Name" Label="Name" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-entity" style="width:500px;">
                    <MatTextField @bind-Value="@this.entityParameters.Entity.Description" Label="Description" FullWidth="true" Required="false"></MatTextField>
                </div>
            </fieldset>
        </EditForm>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(() => this.handleCancel())">Cancel</MatButton>
        <MatButton OnClick="@(async () => await HandleAddEditEntity())">Save changes</MatButton>
    </MatDialogActions>
</MatDialog>
@code {

    [Parameter] public EventCallback<EntityParameters> SaveCallback { get; set; }
    [Parameter] public EventCallback CancelCallback { get; set; }

    [Parameter]
    public bool dialogOpen { get; set; }

    [Parameter]
    public string dialogTitle { get; set; }
    [CascadingParameter(Name = "EditEntityParameters")]
    public EntityParameters entityParameters { get; set; } = new EntityParameters();
    private async Task HandleAddEditEntity()
    {
        try
        {
            this.entityParameters.Entity.Organization_Id = this.organizationDataState.organizationParamerters.Organization.Id;
            if (this.entityParameters.Entity.Id > 0)
            {
                this.entityParameters = await this.organizationDataState.UpdateEntity(this.entityParameters);
                if (this.entityParameters != null)
                {
                    matToaster.Add("Entity was successfully updated.", MatToastType.Success);
                }
                else
                {
                    matToaster.Add("Insufficient access, refresh application.", MatToastType.Warning);
                }
            }
            else
            {
                this.entityParameters = await this.organizationDataState.CreateEntity(this.entityParameters);
                if (this.entityParameters != null)
                {
                    matToaster.Add("Entity was successfully created.", MatToastType.Success);
                }
                else
                {
                    matToaster.Add("Insufficient access, refresh application.", MatToastType.Warning);
                }
            }

            this.dialogOpen = false;
            this.StateHasChanged();
            SaveCallback.InvokeAsync(this.entityParameters);

        }
        catch ( Exception e )
        {
            matToaster.Add(e.Message, MatToastType.Warning);
        }
    }

    private void handleCancel()
    {
        CancelCallback.InvokeAsync(null);
    }
}
