﻿@using BlazorSecureLogin.Client.Pages.Layouts;
@using BlazorSecureLogin.Shared.DTO.Visualizations;
<li class="draggable" draggable="true" @ondragstart="@(() => HandleDragStart(EntityParameters))">
    <span>
        <p>@EntityParameters.Entity.MemberNumber</p>
        <p>@EntityParameters.Entity.Name</p>
    </span>
</li>

@code {
    [CascadingParameter] DragNDropContainer Container { get; set; }
    [Parameter] public EntityParametersDragNDrop EntityParameters { get; set; }

    private void HandleDragStart(EntityParametersDragNDrop selectedJob)
    {
        Container.Payload = selectedJob;
    }
}