﻿@using BlazorSecureLogin.Client.Pages.Layouts;
@using BlazorSecureLogin.Shared.DTO.Visualizations;
<div class="jobs-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    public EntityParametersDragNDrop Payload { get; set; }
}
