﻿@inject OrganizationDataState organizationDataState
@using BlazorSecureLogin.Client.Pages.Layouts;
@using BlazorSecureLogin.Shared.DTO.Visualizations;
<div class="job-status">
    <MatSelect Label="@(this.SelectLabel ?? "Pick one")" ValueChanged="@RaiseGroupChanged">
        @if (ListStatus == PayloadStatus.Source)
        {
            <MatOption Value="-1">All</MatOption>
        }
        else if (ListStatus == PayloadStatus.Target)
        {
            <MatOption Value="None" Disabled="true"></MatOption>
        }

        @foreach (var item in groupParameters)
        {
            <MatOption Value="@item.Group.Id.ToString()">@item.Group.Title</MatOption>
        }
    </MatSelect>

    <ul class="dropzone @dropClass" ondragover="event.preventDefault();"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">
        <li style="height:10px;"></li>
        @foreach (var entityParameter in entityParameters)
        {
            <DragNDropCard EntityParameters="@entityParameter" />
        }
        <li style="height:10px;"></li>
    </ul>
</div>
@if ( this.ListStatus == PayloadStatus.Source )
{
    <div class="job-status"></div>
}

@code {

    [CascadingParameter] DragNDropContainer Container { get; set; }
    [Parameter] public EventCallback<long> OnGroupChanged { get; set; }
    [Parameter] public EventCallback<EntityParametersDragNDrop> OnDrop { get; set; }
    [Parameter] public PayloadStatus ListStatus { get; set; }
    [Parameter] public PayloadStatus[] AllowedStatuses { get; set; }
    [Parameter]
    public string SelectLabel { get; set; }
    [Parameter]
    public List<EntityParametersDragNDrop> entityParameters { get; set; } = new List<EntityParametersDragNDrop>();
    private List<GroupParameters> groupParameters { get; set; } = new List<GroupParameters>();

    private string dropClass { get; set; } = "";
    private long currentGroupId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        organizationDataState.OnChange += StateHasChanged;
        this.groupParameters = await this.organizationDataState.GetAllGroups();
        if (ListStatus == PayloadStatus.Source)
        {
            OnGroupChanged.InvokeAsync(-1L);
        }
    }

    private void HandleDragEnter()
    {
        if (ListStatus == Container.Payload.Status) return;

        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.Status))
        {
            dropClass = "no-drop";
        }
        else
        {
            dropClass = "can-drop";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";
        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.Status))
        {
            return;
        }

        Container.Payload.NewGroupId = this.currentGroupId;
        OnDrop.InvokeAsync(Container.Payload);
    }

    private void RaiseGroupChanged(string groupIdString)
    {
        if (long.TryParse(groupIdString, out long groupId))
        {
            currentGroupId = groupId;
            OnGroupChanged.InvokeAsync(currentGroupId);
        }
    }
}
