﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This view is a wrapper view for the entire application. Here is defined default behavior for the client program*@
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>PLAN could not find the page you were looking for.</p>
        </LayoutView>
    </NotFound>
</Router>
@*Container for mat toaster pop ups*@
<MatToastContainer Style="padding:0 5px 0 10px" />