﻿.tba::after {
    content: " (not implemented)";
}

html, body {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* material theme */

:root {
    --mdc-theme-primary: #4373CB;
    --mdc-theme-secondary: #cedef5;
    --mdc-theme-text-primary: #ffffff;
    --mdc-theme-text-secondary: #333;
    --mdc-theme-text-on-primary: #001037;
    --mdc-theme-text-on-secondary: #c48003;
}

.mdc-icon-button .fa{
    font-size:30px;
}

.nav-menu-button-container {
    padding: 0;
    margin: 0;
}

.nav-menu-button {
    width: 100%;
    text-align: left;
    padding:0;
}

.nav-menu-button-label {
    margin-right: auto;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 500;
    text-size-adjust: 100%;
    text-transform: capitalize;
    letter-spacing: 0.00714em;
}
    .nav-menu-button-label.sub-item {
        font-weight: 300;
    }

    .nav-menu-button-label.sub-item-with-button {
        padding: 6px 0 0 2px;
    }
    .fa-home {
        font-size: 24px;
        padding: 0 5px 0 0;
    }

.OrganizationAppBar {
    background: #649ff5;
    height: 64px;
    width: 100%;
    border-bottom: solid 1px #e1e1e1;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
    display: table;
}
.OrganizationAppBarContent {
    display:table-cell;
    vertical-align:middle;
}

/* Loading page */
.triangle-container, .login-container {
    left: calc(-50vw + 50%);
    position: fixed;
    right: calc(-50vw + 50%);
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #333;
}

.triangles {
    background-image: url("../images/triangles.svg");
    background-size: cover;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-position: center center;
}

.loading-container {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin:10% auto 25%;
}

/* Login page */
.login-body {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.logo {
    text-align: center;
}

    .logo h4 {
        margin: 20px auto;
    }

.login-container, .loading-container, .mdc-card {
    border-radius: 0 !important;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19) !important;
}

    .login-container .mdc-card {
        padding: 40px 30px;
        width: 500px;
    }

    .login-container .mat-accordion {
        width: 500px;
    }

    .additional-info {
        color: #636c72;
        background-color: rgba(0,0,0,.04);
        padding: 10px 6px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: .875rem;
    }

.login-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    align-content: center;
}

.login-body {
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
}

.login-body .mat-accordion .mat-expansion-panel__header{
flex-basis:80%;
}

    .login-body .mat-expansion-panel {
        background-color: #f4f4f4 !important;
    }


/* app bar */
.logo-img {
    height: 42px;
}

.navToggle.mdc-icon-button,
.navToggle .material-icons {
    font-size: 12px !important;
}

.mdc-top-app-bar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: white;
    z-index: 7 !important;
}

.mdc-top-app-bar__title,
.mdc-top-app-bar__title a {
    color: white;
}

/* Drawer */
.app-sidebar {
    width: 256px;
}

.mdc-drawer .mdc-list-item {
    margin: 8px 0 !important;
    border-radius: 0 !important;
    color: #333;
}

.mdc-drawer a.mdc-list-item {
    padding: 0 14px !important;
}

.drawer-header {
    padding: 16px;
    border-bottom: solid 1px #e1e1e1;
    background-image: url("../images/profile-bg.png");
    background-size: cover;
    color: #fff;
}
.drawer-header h3 {
    font-size: 22px;
    font-weight: bold;
    display: inline;
}

.app-sidebar .material-icons {
    margin-right: 8px;
}

.mdc-drawer {
    
    box-shadow: 2px 0 5px 0 rgba(0,0,0,0.16);
}
.mdc-drawer:not(.SubContent){
    margin-top: 64px;
    
}

.mdc-theme--surface .mdc-drawer-app-content:not(.SubContent) {
    padding-top: 64px;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #4373CB !important;
}
    .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label::after {
        color: #4373CB !important;
    }

.mat-drawer-container-responsive {
    display: flex;
    flex-direction: row;
}

    .mat-drawer-container-responsive .mdc-drawer {
        width: unset !important;
        position: relative;
    }

    .mat-drawer-container-responsive .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
        margin-left: unset !important;
        position: relative;
        flex: 1;

    }

.mdc-top-app-bar--fixed-adjust {
    padding-top:0 !important;
    overflow: hidden;
}

div.mdc-drawer__content {
    height: calc(100% - 64px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.drawer-footer {
    position: absolute;
    text-align: left;
    bottom: 64px;
    left: 0;
    right: 0;
    border-top: solid 1px #AAA;
    font-size: 12px;
    padding:0 12px 8px 12px;
    background-color:lightgray
}

/*  forms */
fieldset {
    border: none;
}

hr {
    clear:both;
}

/* breadcrumbs */
.breadcrumb {
    list-style: none;
    display: block;
    margin: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    padding: 15px 0;
    text-transform: uppercase;
    color: #ccc;
    text-shadow: none;
    font-size: 11px;
}


/* MatTable */
.mdc-table {
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;
    overflow-x: auto;
    margin: 8px 0 32px;
    max-width: 100%;
    border: 1px solid #eee;
    width: 100%

}

    .mdc-table th {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        letter-spacing: .04em;
        text-decoration: inherit;
        text-transform: inherit;
        background-color: whitesmoke !important;
        border-top: none;
        color: #444;
        text-align: left;
        border: 1px solid #eee;
        padding: 12px !important;
    }

    .mdc-table td {
        border: 1px solid #eee;
        padding: 12px 12px 12px 24px !important;
        background-color:white;
    }

        .mdc-table td:first-child {
            border-left: none;
        }

        .mdc-table td:last-child {
            border-right: none;
            width: 100%;
        }
.edit-profile-selector {
    width: 256px !important;
}
.add-calendar-selector {
    width: 240px !important;
}

/** Simple drag and drop with Blazor CSS **/
.dragging {
    cursor: grabbing;
}

.jobs-container {
    display: flex;
}

.job-status {
    display: flex;
    flex-direction: column;
    width: 312px;
}

    .job-status ul {
        flex: 1;
    }

.dropzone {
    margin-top: 20px;
    padding: 0 20px 0 10px;
    border: 4px dashed var(--mdc-theme-primary);
    border-radius: 0;
    list-style: none;
    max-height: 500px;
    height:500px;
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.no-drop {
    border: 4px dashed red;
}

.can-drop {
    border: 4px dashed green;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #cedef5;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}

    .draggable:active {
        cursor: grabbing;
    }
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .drawer-footer span,
    .drawer-header h3,
    .brand {
        display: none;
    }

    .mdc-drawer__content,
    .mdc-drawer,
    .app-sidebar {
        width: 52px !important;
    }
        .app-sidebar span {
            display: none;
        }

        .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
            margin-left: 52px !important;
        }
    .mdc-top-app-bar__title {
        padding-left: 0 !important;
    }
    .drawer-footer {
        padding: 0;
    }

    .login-container .mdc-card {
        padding: 20px;
        width: 300px;
    }

    .login-container .mat-accordion {
        width: 300px;
    }

    .loading-container {
        padding: 10px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
