﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: Layout component to show calendar as agenda. Used on dashboard pages *@
@inject AuthenticationState authState
@using System.ComponentModel
@using Syncfusion.EJ2.Blazor.Schedule
@using BlazorSecureLogin.Shared.DTO

<EjsSchedule TValue="CalendarData" Width="100%" Height="650px" SelectedDate="@DateTime.Now.Date" AgendaDaysCount="30" Readonly="true">
    <ScheduleViews>
        <ScheduleView Option="View.Agenda" AllowVirtualScrolling="false"></ScheduleView>
    </ScheduleViews>
    <ScheduleEventSettings DataSource="@DataSource" AllowDeleting="false" AllowEditing="false"></ScheduleEventSettings>
</EjsSchedule>

@code{
    private static ReferenceConverter converter = new ReferenceConverter(typeof(EjsSchedule<>));
    [Parameter]
    public List<CalendarData> DataSource { get; set; } = new List<CalendarData>();
}