﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This file declares a set of namespaces available for the files in the directory*@

@inject NavigationManager navigationManager
@using MatBlazor;
@using BlazorSecureLogin.Shared.DTO;




<MatNavMenu Multi="true" Class="app-sidebar">

    <MatNavItem Href="@navigationManager.ToAbsoluteUri($"entity/entityorganization").AbsoluteUri">
        <MatIcon>account_balance</MatIcon> <span class="miniHover">Organization</span>
    </MatNavItem>

    <MatNavItem Href="@navigationManager.ToAbsoluteUri("/entity/entitymain").AbsoluteUri">
        <MatIcon>list_alt</MatIcon> <span class="miniHover">Dashboard</span>
    </MatNavItem>

    <MatNavItem Href="@navigationManager.ToAbsoluteUri($"entity/entitymain/entitygroups").AbsoluteUri">
        <MatIcon>account_balance</MatIcon> <span class="miniHover">Groups</span>
    </MatNavItem>

    <MatNavItem Href="@navigationManager.ToAbsoluteUri("/entity/entitycalender").AbsoluteUri">
        <MatIcon>list_alt</MatIcon> <span class="miniHover">Calender</span>
    </MatNavItem>

    <MatNavItem Href="@navigationManager.ToAbsoluteUri($"entity/entitymain/entityprofile").AbsoluteUri">
        <MatIcon>account_balance</MatIcon> <span class="miniHover">Entity Profile</span>
    </MatNavItem>

    <MatNavItem Href="@navigationManager.ToAbsoluteUri($"entity/entitymain/PAGE").AbsoluteUri">
        <MatIcon>account_balance</MatIcon> <span class="miniHover">Button ...</span>
    </MatNavItem>

    <MatNavItem Href="@navigationManager.ToAbsoluteUri($"entity/entitymain/PAGE").AbsoluteUri">
        <MatIcon>account_balance</MatIcon> <span class="miniHover">Button ...</span>
    </MatNavItem>

</MatNavMenu>



@code {
    public Entity entity = new Entity();
}