﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: ASP.NET Blazor layout best practice *@
@* File description: This file initializes the LoadingBackground component template & creates a container to store the body of the page that loads this page using @layout LoginLayout. *@

@inherits LayoutComponentBase
@layout MainLayout



<section class=".mat-elevation-z1">
    <MatDrawer @bind-Opened="@IsOpen" Mode="@MatDrawerMode.Modal">
        <EntityMenu />
    </MatDrawer>
    <MatDrawerContent>
        <h3>
            <MatIconButton Icon="menu" OnClick="@ToggleMenu"></MatIconButton>
            Entity Panel. - entity.title
        </h3>
        <section class="container-fluid" style="padding:20px">
            @Body
        </section>
    </MatDrawerContent>
</section>
@code {
    [Parameter]
    public bool IsOpen { get; set; } = false;

    public void ToggleMenu()
    {
        this.IsOpen = true;
        StateHasChanged();
    }

}



