﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This is a template for blazor components to show when API calls awaiting results.*@

@if (ShowLogoBox)
{
    <div class="loading-container logo">
        <img src="images/logo.png" style="width:100px;" />
        <br />
        Loading PLAN...
    </div>
}

@code {
    [Parameter]
    public bool ShowLogoBox { get; set; }
}