﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: ASP.NET Blazor layout best practice *@
@* File description: This file initializes the LoadingBackground component template & creates a container to store the body of the page that loads this page using @layout LoginLayout. *@

@inherits LayoutComponentBase

<div class="login-container">
    <div class="triangle-container">
        <div class="triangles">
        </div>
    </div>

    <div class="login-body">
        @Body
    </div>
</div>

