﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This layout page is the main layout page for all pages for authorized users. *@
@inherits LayoutComponentBase
@inject AuthenticationState authState
@inject OrganizationDataState organizationDataState
@inject EntityDataState entityDataState
@inject GroupDataState groupDataState
@inject UserDataState userDataState
@inject NavigationManager uriHelper
@inject IMatToaster matToaster

@if (IsLoggedIn)
{
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatAppBarTitle>
                        <img alt="PLAN" class="logo-img" src="images/logo_round_transparent.png" title="PLAN">
                        <a class="brand">PLAN</a>
                    </MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <MatTooltip Tooltip="Add organization">
                        <MatIconButton Link="/addorganization" RefBack="@context" Icon="library_add"></MatIconButton>
                    </MatTooltip>
                    <MatTooltip Tooltip="Edit profile">
                        <MatIconButton Link="/editprofile" RefBack="@context" Icon="account_box"></MatIconButton>
                    </MatTooltip>
                    <MatTooltip Tooltip="FAQ">
                        <MatIconButton Link="/faq" RefBack="@context" Icon="question_answer"></MatIconButton>
                    </MatTooltip>
                    <MatTooltip Tooltip="Notifications">
                        <MatIconButton Link="/notifications" RefBack="@context" Icon="mail_outline"></MatIconButton>
                    </MatTooltip>
                    <MatTooltip Tooltip="Logout">
                        <MatIconButton Icon="exit_to_app" RefBack="@context" OnClick="LogoutClick"></MatIconButton>
                    </MatTooltip>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent>
            <MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mdc-theme--surface">
                <MatDrawer Opened="true">
                    @if (this.OnEntity)
                    {
                        <NavMenu />
                    }
                    else if (this.OnGroup)
                    {
                        <OrganizationMenu />
                    }
                    else if (this.OnOrganization)
                    {
                        <OrganizationMenu />
                    }
                    else
                    {
                        <NavMenu />
                    }
                </MatDrawer>
                <MatDrawerContent>
                    @Body
                </MatDrawerContent>
            </MatDrawerContainer>
        </MatAppBarContent>
    </MatAppBarContainer>
}


@code {
    protected bool IsLoggedIn;
    private bool OnOrganization { get; set; } = false;
    private bool OnEntity { get; set; } = false;
    private bool OnGroup { get; set; } = false;

    /// <summary>
    /// This method is called first when Blazor webassembly javascript initializes.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        organizationDataState.OnClear += HandleOnClear;
        groupDataState.OnClear += HandleOnClear;
        entityDataState.OnClear += HandleOnClear;
        organizationDataState.OnLogin += HandleOrganizationLogin;
        groupDataState.OnLogin += HandleGroupLogin;
        entityDataState.OnLogin += HandleEntityLogin;
        IsLoggedIn = await authState.IsLoggedIn();

        // Check if the user is logged in.
        // Navigate to login if the user is unauthorized, or get the the information for the authorized user.
        if (!IsLoggedIn)
        {
            uriHelper.NavigateTo("/login");
        }
    }

    async Task LogoutClick()
    {
        // clear data states (data cache on client side)
        organizationDataState.Clear();
        groupDataState.Clear();
        entityDataState.Clear();
        userDataState.Clear();

        // log the user out.
        await authState.Logout();
        // navigate to login page
        uriHelper.NavigateTo("/login");
    }

    private void HandleOnClear()
    {
        this.OnOrganization = false;
        this.OnEntity = false;
        this.OnGroup = false;
    }

    private void HandleOrganizationLogin()
    {
        this.OnOrganization = true;
        this.StateHasChanged();
    }

    private void HandleGroupLogin()
    {
        this.OnGroup = true;
        this.StateHasChanged();
    }

    private void HandleEntityLogin()
    {
        this.OnEntity = true;
        this.StateHasChanged();
    }
}
