﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: MatBlazor *@
@* File description: This is the default NavMenu from blazor example project where menu items have been changed to use MatBlazor components instead. *@

@inject NavigationManager navigationManager
@inject AuthenticationState authState
@inject IMatToaster matToaster
@inject HttpClient http
@inject UserDataState userDataState
@inject OrganizationDataState organizationDataState
@using Microsoft.AspNetCore.Components;
@using BlazorSecureLogin.Shared.DTO;
@using Newtonsoft.Json;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Components.Web;
<header class="drawer-header">
    <MatIcon Icon="account_circle"></MatIcon>
    <h3 style="margin-bottom:5px;">@userInfo.UserName</h3>
</header>
<MatNavMenu Multi="true" Class="app-sidebar">

    <MatNavItem Href="@navigationManager.ToAbsoluteUri("/").AbsoluteUri">
        <MatIcon>home</MatIcon> <span class="miniHover">Dashboard</span>
    </MatNavItem>
    <MatNavItem Href="@navigationManager.ToAbsoluteUri("/calendar").AbsoluteUri">
        <MatIcon>today</MatIcon> <span class="miniHover">Calendar</span>
    </MatNavItem>

    @if (this.userOrganizations.Any())
    {
        <MatNavSubMenu>
            <MatNavSubMenuHeader>
                <MatNavItem AllowSelection="false">
                    <MatIcon>domain</MatIcon><span class="miniHover">&nbsp;Organizations</span>
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList Style="padding:0;">
                @foreach (var organization in this.userOrganizations)
                {
                    <MatNavItem Class="nav-menu-button-container">
                        <MatButton Class="nav-menu-button" OnClick="@( async () => await this.ChangeOrganization(organization.Id))">
                            <span class="nav-menu-button-label">@organization.Title</span>
                        </MatButton>
                    </MatNavItem>
                }
            </MatNavSubMenuList>
        </MatNavSubMenu>
    }

    @if (this.userEntities.Any())
    {
        <MatNavSubMenu>
            <MatNavSubMenuHeader>
                <MatNavItem AllowSelection="false">
                    <MatIcon>stars</MatIcon><span class="miniHover"> Entities</span>
                </MatNavItem>
            </MatNavSubMenuHeader>
            @foreach (var entity in this.userEntities)
            {
                <MatNavSubMenuList>
                    <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri">
                        <MatIcon>folder_shared</MatIcon> <span class="miniHover">@entity.MemberNumber</span>
                    </MatNavItem>
                </MatNavSubMenuList>
            }
        </MatNavSubMenu>
    }
</MatNavMenu>


@code {
    private List<Organization> userOrganizations { get; set; } = new List<Organization>();
    private List<Entity> userEntities { get; set; } = new List<Entity>();
    private UserInfo userInfo { get; set; } = new UserInfo();
    protected override async Task OnInitializedAsync()
    {
        userDataState.OnChange += StateHasChanged;
        userDataState.OnCreate += LoadMenuData;
        this.userInfo = await authState.GetUserInfo();
        await this.LoadMenuDataAsync();
        matToaster.Add("Menu was loaded.", MatToastType.Success);
    }

    private async Task LoadMenuDataAsync()
    {
        this.userOrganizations = await this.userDataState.GetUserOrganizations();
        this.userEntities = await this.userDataState.GetUserEntities();
        this.StateHasChanged();
    }

    public async Task ChangeOrganization(long id)
    {
        if (id > 0 && id != this.organizationDataState.organizationParamerters.Organization.Id)
        {
            await organizationDataState.ChangeOrganization(id);
        }

        navigationManager.NavigateTo("/organization/organizationdashboard");
    }

    public async Task ChangeEntity(long id)
    {
        // TO DO
        //if (id > 0 && id != this.organizationDataState.organizationParamerters.Organization.Id)
        //{
        //    await organizationDataState.ChangeOrganization(id);
        //}

        //navigationManager.NavigateTo("/organization/organizationdashboard");
    }

    private void LoadMenuData()
    {
        this.LoadMenuDataAsync();
    }
}