﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This file holds the organization menu and allow function to navigate around the organization UI*@
@inject NavigationManager navigationManager
@inject OrganizationDataState organizationDataState
@inject GroupDataState groupDataState
@inject HttpClient http
@inject IMatToaster matToaster
@using MatBlazor;
<header class="drawer-header">
    <MatIcon Icon="star"></MatIcon>
    <h3 style="margin-bottom:5px;">@organizationDataState.organizationParamerters.Organization.Title</h3>
</header>
<MatNavMenu Multi="true" Class="app-sidebar">
    <MatNavItem Class="nav-menu-button-container">
        <MatButton Class="nav-menu-button" OnClick="@(async () => await this.navigateToHome())">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="nav-menu-button-label sub-item-with-button">Home</span>
        </MatButton>
    </MatNavItem>
    <MatNavItem Href="@navigationManager.ToAbsoluteUri("/organization/organizationdashboard").AbsoluteUri">
        <MatIcon>dashboard</MatIcon> <span class="miniHover">Dashboard</span>
    </MatNavItem>
    <MatNavItem Href="@navigationManager.ToAbsoluteUri("/organization/organizationcalendar").AbsoluteUri">
        <MatIcon>event_note</MatIcon> <span class="miniHover">Calender</span>
    </MatNavItem>
    <MatNavItem Href="@navigationManager.ToAbsoluteUri($"organization/organizationentities").AbsoluteUri">
        <MatIcon>person_add</MatIcon> <span class="miniHover">Add Entity</span>
    </MatNavItem>
    <MatNavItem Href="@navigationManager.ToAbsoluteUri($"organization/organizationconnectentity").AbsoluteUri">
        <MatIcon>people</MatIcon> <span class="miniHover">Connect Entity</span>
    </MatNavItem>
    @if (IsOrganizationAdmin)
    {
        <MatNavSubMenu>
            <MatNavSubMenuHeader>
                <MatNavItem AllowSelection="false">
                    <MatIcon>domain</MatIcon><span class="miniHover">&nbsp;Organization</span>
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList>
                <MatNavItem Href="@navigationManager.ToAbsoluteUri($"organization/organizationprofile").AbsoluteUri">
                    <MatIcon>business</MatIcon> <span class="miniHover">Profile</span>
                </MatNavItem>

                <MatNavItem Href="@navigationManager.ToAbsoluteUri($"organization/organizationmodules").AbsoluteUri">
                    <MatIcon>widgets</MatIcon> <span class="miniHover">Modules</span>
                </MatNavItem>

                <MatNavItem Href="@navigationManager.ToAbsoluteUri($"organization/organizationaccount").AbsoluteUri">
                    <MatIcon>payment</MatIcon> <span class="miniHover">Account</span>
                </MatNavItem>

                <MatNavItem Href="@navigationManager.ToAbsoluteUri($"organization/organizationgroups").AbsoluteUri">
                    <MatIcon>dns</MatIcon> <span class="miniHover">Manage groups</span>
                </MatNavItem>

            </MatNavSubMenuList>

        </MatNavSubMenu>
    }

    @if (this.IsGroupAdmin && this.GroupsAsAdmin.Any())
    {
        <MatNavSubMenu>
            <MatNavSubMenuHeader>
                <MatNavItem AllowSelection="false">
                    <MatIcon>dns</MatIcon><span class="miniHover">&nbsp;Groups</span>
                </MatNavItem>
            </MatNavSubMenuHeader>
            <MatNavSubMenuList Style="padding:0;">
                @foreach (var group in this.GroupsAsAdmin.Select(x => x.Group))
                {
                    <MatNavSubMenu>
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false">
                                <MatIcon>supervised_user_circle</MatIcon><span class="miniHover"> @group.Title</span>
                            </MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem Class="nav-menu-button-container">
                                <MatButton Class="nav-menu-button" OnClick="@(async () => await this.groupNavigateToProfile(group.Id))">
                                    <span class="nav-menu-button-label sub-item">Profile</span>
                                </MatButton>
                            </MatNavItem>
                            <MatNavItem Class="nav-menu-button-container">
                                <MatButton Class="nav-menu-button" OnClick="@(async () => await this.groupNavigateToCalendar(group.Id))">
                                    <span class="nav-menu-button-label sub-item">Calendar</span>
                                </MatButton>
                            </MatNavItem>
                            <MatNavItem Class="nav-menu-button-container">
                                <MatButton Class="nav-menu-button" OnClick="@(async () => await this.groupNavigateToEntities(group.Id))">
                                    <span class="nav-menu-button-label sub-item">Manage entities</span>
                                </MatButton>
                            </MatNavItem>
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                }
            </MatNavSubMenuList>
        </MatNavSubMenu>
    }
</MatNavMenu>



@code {

    private bool IsOrganizationAdmin { get; set; }
    private bool IsGroupAdmin { get; set; }
    private List<GroupParameters> GroupsAsAdmin { get; set; } = new List<GroupParameters>();

    protected override async Task OnInitializedAsync()
    {
        organizationDataState.OnChange += StateHasChanged;
        organizationDataState.OnCreate += updateOrganizationVariables;
        groupDataState.OnChange += StateHasChanged;
        await this.updateOrganizationVariablesAsync();
    }

    private async Task groupNavigateToProfile(long id)
    {
        await this.ChangeGroup(id);
        navigationManager.NavigateTo("organization/groupprofile");
    }

    private async Task groupNavigateToCalendar(long id)
    {
        await this.ChangeGroup(id);
        navigationManager.NavigateTo("organization/groupcalender");
    }

    private async Task groupNavigateToEntities(long id)
    {
        await this.ChangeGroup(id);
        navigationManager.NavigateTo("organization/groupentities");
    }

    public async Task ChangeGroup(long id)
    {
        await this.groupDataState.ChangeGroup(id);
    }

    public async Task updateOrganizationVariablesAsync()
    {
        try
        {
            this.IsOrganizationAdmin = await organizationDataState.GetIsOrganizationAdmin();
            this.IsGroupAdmin = await organizationDataState.GetIsGroupAdmin();
            this.GroupsAsAdmin = await organizationDataState.GetGroupsAsAdmin();
        }
        catch (Exception e)
        {
            matToaster.Add("Update failed.", MatToastType.Danger);
        }
        finally
        {
            this.StateHasChanged();
        }
    }

    public void updateOrganizationVariables()
    {
        this.updateOrganizationVariablesAsync();
    }

    private async Task navigateToHome()
    {
        this.organizationDataState.Clear();
        this.groupDataState.Clear();
        navigationManager.NavigateTo(" ");
    }
}