﻿@* TEC - Tecnical Education Center *@
@* PLAN - Organization tool *@
@* Author: Martin Puge & Steffen Klinge *@
@* Editor: N/A *@
@* External credits: *@
@* File description: This file declares a set of namespaces available for the files in the directory*@

@inject OrganizationDataState organizationDataState
@inject NavigationManager navigationManager
@inject IMatToaster matToaster
@inherits LayoutComponentBase
@layout MainLayout
<section class=".mat-elevation-z1">
    <div class="OrganizationAppBar">
        <div class="OrganizationAppBarContent">
            <h3 style="padding-left:5px;">Organization - @organizationDataState.organizationParamerters.Organization.Title</h3>
        </div>

    </div>
    <section class="SubContent" style="padding: 20px">
        @Body
    </section>
</section>
@code {
    [Parameter]
    public bool IsOpen { get; set; } = false;

    public void ToggleMenu()
    {
        // IsOpen is always set to true from button.
        // This is because you can close the menu by clicking outside the menu.
        this.IsOpen = true;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        if (this.organizationDataState.organizationParamerters.Organization.Id == 0)
        {
            navigationManager.NavigateTo(" ");
        }
        organizationDataState.OnChange += StateHasChanged;
        organizationDataState.OnError += HandleOnError;
    }

    private void HandleOnError()
    {
        navigationManager.NavigateTo(" ");
        matToaster.Add("An error has occured.", MatToastType.Danger);
    }
}



